*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
    text-decoration: none;
}

:root {
    --main-color: #00b7ff;
    --text-color: #fff;
    --bg-color: #00000000;
    --big-font: 5rem;
    --h2-font: 2.25rem;
    --p-font: 0.9rem;
}

::selection {
    background: var(--main-color);
    color: #fff;
}

body {
    color: var(--text-color);
    background: var(--bg-color);
}

header {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 170px;
    background: rgba(0, 0, 0, 0.24);
}

.logo {
    color: var(--text-color);
    font-weight: 600;
    font-size: 2.4rem;
}

.navbar {
    display: flex;
}

.navbar a {
    color: rgb(255, 255, 255);
    font-size: 1.1rem;
    padding: 10px 20px;
    font-weight: 500;
}

.navbar a:hover {
    color: var(--main-color);
    transition: .4s;
}

#menu-icon {
    font-size: 2rem;
    cursor: pointer;
    display: none;
}

@media (max-width: 1560px) {
    header {
        padding: 15px 40px;
    }

    :root {
        --big-font: 3.5rem;
        --h2-font:2rem;
    }
}

@media (max-width: 1140px) {
    section {
        padding: 50px 8%;
    }

    #menu-icon {
        display: initial;
        color: var(--text-color);
    }

    header .navbar{
        position: absolute;
        top: -400px;
        left: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        text-align: center;
        background: #ffffff;
        transition: .3s;
    }

    header .navbar.active{
        top: 70px;
    }

    .navbar a{
        padding: 1.5rem;
        display: block;
        color: black;
    }

    .logo {
        font-size: 1rem;
    }
}

@media (max-width: 720px) {
    header {
        padding: 10px 16px;
    }
}

/*------------Hero Section--------------*/
 /* carousel */
 .carousel_inner{
    width: 100%;
    overflow: hidden;
 }
 
 .carousel_inner::after{
    content: "";
    display: block;
    clear: both;
 }
 
 .carousel_item{
    position: relative;
    float: left;
    display: none;
    width: 100%;
    margin-right: -100%;
 }
 
 /* slide effect */
 .carousel_item__active,
 .carousel_item__pos_next{
    display: block;
 }
 
 .carousel_item__pos_next{
    left: 100%;
 }
 
 .carousel_item__next{
    transform: translateX(-100%);
    transition: transform .5s ease-in-out;
 }
 
 /* fade effect */
 .carousel__fade .carousel_item__pos_next{
    left: 0;
    opacity: 0;
 }
 
 .carousel__fade .carousel_item__next{
    transform: none;
    opacity: 1;
    transition: opacity .5s ease-in-out;
 }
 
 .carousel__fade .carousel_item__active.carousel_item__next{
    opacity: 0;
 }
 
 /* carousel */
 .carousel_img{
    display: block;
    width: 100%;
    opacity: 1;
 }

/*-----------about Section--------------*/
 .about {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    grid-gap: 1.5rem;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
}

.about-img img {
    max-width: 100%;
    width: 600px;
    height: auto;
}

.about-text span{
    color: rgb(0, 0, 0);
    font-weight: 600;
    font-size: 30px;
    text-align: center;
}

.about-text p{
    margin: 0.8rem 0 1.8rem;
    line-height: 1.7;
    color: black;
}

@media (max-width: 720px) {
    .about {
        grid-template-columns: 1fr;
        text-align: center;
    }

    .about-img {
        order: 2;
    }
}

/*----------About Section END------------*/

/*----------Project Section-------------*/
.project {
    align-items: center;
    padding-bottom: 30px;
    padding-top: 30px;
    text-align: center;
    width: 100%;
    overflow: hidden;
    align-items: center;
}

.project-video {
    position: relative;
    padding-bottom: 56.25%;
    overflow: hidden;

}

.video {
    width: 80%;
    height: 80%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.project-text span{
    color: rgb(0, 0, 0);
    font-weight: 600;
    font-size: 30px;
    font-family: 'Poppins', sans-serif;
}

@media (max-width: 720px) {
    .video {
        width: 100%;
        height: 100%;
    } 
}

/*----------------Project Section END-----------------*/

/*--------------Service Section------------------*/
.service {
    margin-bottom: 80px;
}
.service-heading {
    text-align: center;
}

.service-heading span {
    color: rgb(0, 0, 0);
    font-weight: 600;
    font-size: 30px;
}

.service-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, auto));
    grid-gap: 15px;
    align-items: center;
}

.service-box {
    position: relative;
    margin-top: 20px;
    width: 200px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #9c9c9c00;
    padding: 5px;
    border-bottom: 0.5rem;
    border-radius: 5px;
    background-color: rgba(134, 134, 134, 0);
    margin: auto;
}

.service-img {
    width: 100px;
    height: 100px;
}

.service-img img {
    width: 100%;
    height: 100%;
}

.service-box h2 {
    font-size: 1.3rem;
    color: rgb(0, 0, 0);
}

.service-box:hover {
    -ms-transform: scale(1.1); /* IE 9 */
    -webkit-transform: scale(1.1); /* Safari 3-8 */
    transform: scale(1.1); 
    cursor: pointer;
}

/*--------------Service Section END------------------*/

/*--------------Portfolio Section------------------*/
.portfolio {
    margin-bottom: 30px;
}

.portfolio-heading {
    text-align: center;
}

.portfolio-heading span {
    color: rgb(0, 0, 0);
    font-weight: 600;
    font-size: 30px;
}

.G {
    background-color: rgba(255, 255, 255, 0.384);
    height: 110vh;
}

.container2 {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 8%;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 30px;
}

.gallery img{
    width: 100%;
    border-radius: 5px 5px 5px 5px;
}
/*--------------Portfolio Section END------------------*/

/*--------------Footer Section------------------*/
.footer {
    margin-top: 20px;
}

.footer-heading {
    text-align: left;
    margin-left: 20px;
    margin-top: 20px;
}

.footer-heading span {
    color: rgb(0, 0, 0);
    font-weight: 200;
    font-size: 15px;
}

  /*--------------Footer Section END------------------*/

  @media (max-width: 1140px) {
    section {
        padding: 50px 8%;
    }

    .col {
        width: 50%;
        margin-bottom: 10px;
    }
  }

  @media (max-width: 720px) {
    section {
        padding: 100px 7%;
    }
}

@media (max-width: 575px) {
    .col {
        width: 100%;
    }

    .service {
        margin-bottom: 20px;
    }
}